{% extends "base.html" %}

{% block body_block %}
{% load static %}
<body style="background-image:url(../../static/help.jpg);background-size:cover;">
<div class="container" style="font-size:30px;margin-bottom:100px;">
<h2 align="center" style="color:blue;">Welcome To HRMS</h2>
<br/>

<div class="row">
	<div class="col-md-6">
		<p>After Log In You Will See This.</p>
		<img src="../static/help1.jpg" width="550" height="350">
	</div>
	<div class="col-md-6">
		<p>Click Create Button to Create New.</p>
		<img src="../static/help2.jpg" width="600" height="350">
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-6">
		<p>Click the Employee to Know Details</p>
		<img src="../static/help3.jpg" width="550" height="350">
	</div>
	<div class="col-md-6">
		<p>And You Will reach this Page</p>
		<img src="../static/help4.jpg" width="600" height="350">
	</div>
</div>
<br/>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h3>You can Update the Details.</h3>
		<img src="../static/help5.jpg" width="600" height="350">
	</div>
	<div class="col-md-2"></div>
</div>
<br/>

<h3>And You can Delete.</h3>
<div class="row">
	<div class="col-md-6">
		<img src="../static/help6.jpg" width="550" height="350">
	</div>
	<div class="col-md-6">
		<img src="../static/help7.jpg" width="600" height="350">
	</div>
</div>
<br/>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h3>You can order by This Button.</h3>
		<img src="../static/help8.jpg" width="600" height="350">
	</div>
	<div class="col-md-2"></div>
</div>
<br/>


<h3 align="center">If you want to LogOut !</h3>
<div class="row">
	<div class="col-md-6">
		<img src="../static/help9.jpg" width="550" height="350">
	</div>
	<div class="col-md-6">
		<img src="../static/help10.jpg" width="600" height="350">
	</div>
</div>
</div><!--container-->
</body>
{% endblock body_block %}