{% extends "base.html" %}

{% block body_block %}
<body style="background-image:url(../../static/login.jpg);background-size:cover;">
<div class="container">
	<div class="row">
	<div class="col-md-6" style="margin-top:100px;">
		<h2 class="text-center" style="color:white;">Welcome To Human Resource Management</h2>
	<br/><br/>
    <form method="POST">
        {% csrf_token %}
		<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		{% if error_message %}
            <p class="text-danger" style="font-size:30px;font-weight:40px;">{{ error_message }}</p>
        {% endif %}
        <input type='text' name='username' placeholder='Username' class="form-control" required/> 
        <br/>

        <input type='password' name='password' placeholder='Password' class="form-control" required/> 
        <br/>

		<div class="col-md-2"></div>
		</div>
		</div>
        <input type="submit" value="Log In" class="btn btn-primary" style="width:100px;margin-left:200px;">
    </form>
	</div>
	<div class="col-md-6"></div>
</div>
</div>
</body>
{% endblock body_block %}